*.hi
*.o
*.pyc
*.swp
*.pyc

*.d   # debugger's output directory.

dist/
examples/*.d
examples/*.hist
examples/*.plan
examples/*.planc
examples/*.plan.py
examples/*.out
examples/*.anf

docs/sphinx/_build

test/*/*.out
test/*/*.plan
test/*/*.plan.py
test/*/*.anf
crashlogs/

libpeerconnection.log

tags
TAGS
VERSION
