[submodule "external/damsl-k3"]
	path = external/damsl-k3
	url = git@git.assembla.com:damsl.k3.git
[submodule "external/ekmett-parsers"]
	path = external/ekmett-parsers
	url = git://github.com/ekmett/parsers.git
[submodule "external/ekmett-trifecta"]
	path = external/ekmett-trifecta
	url = git://github.com/ekmett/trifecta.git
[submodule "docs/sphinx/_themes/bootstrap"]
	path = docs/sphinx/_themes/bootstrap
	url = https://github.com/ryan-roemer/sphinx-bootstrap-theme.git
